/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Root Variables */
:root {
  /* Colors */
  --app-background-color: #f8f8f8;
  --o-mark-color: #f194b4;
  --x-mark-color: #7aa6d6;
  --accent-light-color: #a2d3c2;
  --text-color: #454545;

  /* Transition */
  --transition-fast: 0.1s;
  --transition-normal: 0.5s;
  --transition-slow: 1s;
}

/* Body */
html {
  background: var(--app-background-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

/* Container */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
.loading-animation {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
  margin-top: 2rem;
  position: fixed;
  z-index: 1500;
  word-spacing: 1.5rem;
}

/* Main */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

/* Game Buttons */
.player-info-section {
  display: flex;
  gap: 1rem;
  font-size: 3.5rem;
}

.player-info {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  border-bottom: none;
  border-radius: 0.4rem;
}

.player-info i {
  font-weight: 1000;
  font-size: 5rem;
}

.score {
  font-size: 4rem;
}

.divider {
  font-size: 5rem;
  color: var(--accent-light-color);
}

/* Game Message */
.game-message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

/* Game Board */
.game-board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Grid squares */
.square {
  cursor: pointer;
  background-color: var(--app-background-color);
  border: 4px solid var(--accent-light-color);
  font-size: 8rem;
  color: var(--x-mark-color);
  border-radius: 1rem;
  box-shadow: 0px 0px 33px 9px var(--accent-light-color);
  -webkit-box-shadow: 0px 0px 33px 9px var(--accent-light-color);
  -moz-box-shadow: 0px 0px 33px 9px var(--accent-light-color);
}

/* Reset Game Button */
.reset-btn {
  cursor: pointer;
  padding: 1rem;
  color: var(--accent-light-color);
  font-size: 1.5rem;
  font-weight: 900;
  border: 4px solid var(--accent-light-color);
  border-radius: 1rem;
  background-color: transparent;
}

/* Player Info */
.X {
  color: var(--x-mark-color);
}

.O {
  color: var(--o-mark-color);
}

.player-info:nth-child(1).active-turn {
  border-bottom: 5px solid var(--x-mark-color);
}

.player-info:last-child.active-turn {
  border-bottom: 5px solid var(--o-mark-color);
}

.player-info:nth-child(1) {
  color: var(--x-mark-color);
}

.player-info:last-child {
  color: var(--o-mark-color);
}

/* Game Notifications */
.game-notification {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 900;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
}

.game-notification {
  position: absolute;
  top: 45%;
  transition: var(--transition-normal);
  pointer-events: none;
  z-index: 1100;
  color: var(--accent-light-color);
}

.show-overlay {
  animation: bounce 1s infinite 700ms, scale 1s forwards;
}

@keyframes bounce {
  0%,
  100% {
    margin-top: 0;
  }
  50% {
    margin-top: -25px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.5);
  }
}

/* Animations */
.reset-btn:active {
  transform: scale(0.9); /* Shrink on press */
  box-shadow: 0 2px 4px var(--accent-light-color);
}

.reset-btn:hover {
  background-color: var(--accent-light-color);
  color: var(--app-background-color);
  box-shadow: 0 4px 6px var(--accent-light-color);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.player-info.active-turn {
  animation: blink 1s infinite; /* Blink animation */
}

.enable-hover:hover {
  transform: scale(1.1);
  transition: transform var(--transition-fast);
}

.animated-text {
  animation: scaleAndFade var(--transition-slow) ease-out forwards;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

@keyframes scaleAndFade {
  0% {
    transform: scale(12);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.animated-text.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 5.5px;
  background-color: var(--accent-light-color);
  box-shadow: 0 4px 8px var(--accent-light-color),
    inset 0 0 4px var(--text-color);
  animation: strikeAnimation var(--transition-normal) forwards;
  border-radius: 50%;
}

@keyframes strikeAnimation {
  from {
    width: 0;
  }
  to {
    width: 102%;
  }
}
